
.icon-home3 {
  content: "\e902";
}
.icon-pencil {
  content: "\e905";
}
.icon-play {
  content: "\e912";
}
.icon-history {
  content: "\e94d";
}
.icon-clock {
  content: "\e94e";
}
.icon-clock2 {
  content: "\e94f";
}
.icon-alarm {
  content: "\e950";
}
.icon-bell {
  content: "\e951";
}
.icon-undo {
  content: "\e965";
}
.icon-redo {
  content: "\e966";
}
.icon-undo2 {
  content: "\e967";
}
.icon-redo2 {
  content: "\e968";
}
.icon-forward {
  content: "\e969";
}
.icon-reply {
  content: "\e96a";
}
.icon-spinner11 {
  content: "\e984";
}
.icon-cogs {
  content: "\e995";
}
.icon-magic-wand {
  content: "\e997";
}
.icon-stats-dots {
  content: "\e99b";
}
.icon-stats-bars {
  content: "\e99c";
}
.icon-stats-bars2 {
  content: "\e99d";
}
.icon-fire {
  content: "\e9a9";
}
.icon-switch {
  content: "\e9b6";
}
.icon-sun {
  content: "\e9d4";
}
.icon-brightness-contrast {
  content: "\e9d6";
}
.icon-warning {
  content: "\ea07";
}
.icon-notification {
  content: "\ea08";
}
.icon-info {
  content: "\ea0c";
}
.icon-cancel-circle {
  content: "\ea0d";
}
.icon-cross {
  content: "\ea0f";
}
.icon-checkmark {
  content: "\ea10";
}
.icon-checkmark2 {
  content: "\ea11";
}
.icon-play2 {
  content: "\ea15";
}
.icon-pause {
  content: "\ea16";
}
.icon-stop {
  content: "\ea17";
}
.icon-previous {
  content: "\ea18";
}
.icon-next {
  content: "\ea19";
}
.icon-backward {
  content: "\ea1a";
}
.icon-forward2 {
  content: "\ea1b";
}
.icon-play3 {
  content: "\ea1c";
}
.icon-pause2 {
  content: "\ea1d";
}
.icon-stop2 {
  content: "\ea1e";
}
.icon-backward2 {
  content: "\ea1f";
}
.icon-forward3 {
  content: "\ea20";
}
.icon-first {
  content: "\ea21";
}
.icon-last {
  content: "\ea22";
}
.icon-previous2 {
  content: "\ea23";
}
.icon-next2 {
  content: "\ea24";
}
.icon-eject {
  content: "\ea25";
}
.icon-volume-high {
  content: "\ea26";
}
.icon-volume-medium {
  content: "\ea27";
}
.icon-volume-low {
  content: "\ea28";
}
.icon-volume-mute {
  content: "\ea29";
}
.icon-volume-mute2 {
  content: "\ea2a";
}
.icon-volume-increase {
  content: "\ea2b";
}
.icon-volume-decrease {
  content: "\ea2c";
}
.icon-loop {
  content: "\ea2d";
}
.icon-loop2 {
  content: "\ea2e";
}
.icon-infinite {
  content: "\ea2f";
}
.icon-shuffle {
  content: "\ea30";
}
