.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font__size-med;
}
// .timer-display{
//     padding-top: 10px;
//     padding-left: 14px;
// }
// .timer-control {
//     margin-bottom: -20px;
// }