@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?1eesz4');
    src:  url('fonts/icomoon.eot?1eesz4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1eesz4') format('truetype'),
        url('fonts/icomoon.woff?1eesz4') format('woff'),
        url('fonts/icomoon.svg?1eesz4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
