$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-max: 1040px;

$layer__back: 1;
$layer__back-md: 100;
$layer__back-ft: 500;
$layer__mid-bk: 1000;
$layer__mid: 1100;
$layer__mid-ft: 1500;
$layer__front-bk: 2000;
$layer__front-md: 2100;
$layer__front: 2500;
$layer__top: 10000;