$font__main: "Open Sans", sans-serif;
$font__code: "Open Sans", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Open Sans", "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-max: 3.875rem;
$font__size-huge: 3rem;
$font__size-biggest: 2rem;
$font__size-bigger: 1.5rem;
$font__size-big: 1.375rem;
$font__size-med: 1.125rem;
$font__size-base: 1rem;
$font__size-small: 0.875rem;
$font__size-smaller: 0.75rem;
$font__size-smallest: 0.625rem;